<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>AtCoder Type Checker</title>
</head>

<body>
	<h1>AtCoder Type Checker</h1>
	<p><a href="https://atcoder.jp/">AtCoder</a>
		のコンテスト成績から、同じ（内部）レート帯の中で「多く解くタイプ」であるか「早く解くタイプ」であるかを判定します。スコアの値が大きいほど、前者と判定されたことを意味します。
	</p>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">ID: </label>
			<input type="text" id="name" name="name" placeholder="AtCoder ID">
		</div>
		<div>
			<input type="submit" value="OK">
		</div>
	</form>
	<p><b>{{ message }}</b></p>
	<p><b>{{ message1 }}</b></p>
	<p>{{ message2 }}</p>
	<p>{{ message3 }}</p>
	<p>{{ message4 }}</p>
	<p>{{ message5 }}</p>
	<p><b>{{ message6 }}</b></p>
	<p>{% autoescape false %}{{svgstr}}{% endautoescape %}</p>
	<h2>用語について</h2>
	<ul>
		<li>内部レート: <a href="https://qiita.com/anqooqie/items/92005e337a0d2569bdbd">こちら</a>の記事における「レート（第二段階）」を指します。</li>
		<li>順位率: ある参加者がコンテストで丁度 P 点を得て、丁度 P 点を得た中で R 位であり、丁度 P 点を得た人が合計 N 人だった場合の (R-1) / (N-1)
			の値です。<br>同じ内部レート帯の中で比較したとき、この値が小さいことが多いほど、（多く解くことと比べて）早く解くことが得意なタイプであると考えられます。</li>
		<li>平均順位率: P > 0 かつ N > 1 である場合についての順位率を平均したものです（Rated コンテストのみを対象としています）。</li>
		<li>内部レートによる補正値: 平均順位率は内部レートと負の相関があり、その相関を取り除くための補正値です。「同程度の内部レートの人が取得している、平均的な平均順位率」を表します。
			サンプリングした約 2000 ユーザーの平均順位率をもとに計算しています。
		</li>
		<li>スコア: ((平均順位率) - (内部レートによる補正値)) * 100 です。スコアに応じて、以下の文が表示されます。
			<ul>
				<li> ～ -10: かなり、早く解くタイプ</li>
				<li>-10 ～ -5: 早く解くタイプ</li>
				<li>-5 ～ -1: わずかに、早く解くタイプ</li>
				<li>-1 ～ 1: 中間的なタイプ</li>
				<li>1 ～ 5: わずかに、多く解くタイプ</li>
				<li>5 ～ 10: 多く解くタイプ</li>
				<li>10 ～ : かなり、多く解くタイプ</li>
			</ul>
		</li>
	</ul>
	<h2>補足</h2>
	<ul>
		<li>現在は、下記の最終更新日時までに行われた、ナンバリングされている ABC・ARC・AGC のみを計算の対象としています。</li>
		<li>指定した ID の内部レートが 0 ～ 3200 の範囲外の場合、結果の信頼度が低い可能性があり、その旨が表示されます。</li>
		<li>判定結果はあくまで目安であり、その参加者の性質を保証するものではありません。また、タイプはコンテスト参加数が増えるにつれて大きく変わることがあります。</li>
	</ul>
	<h2>大きな更新</h2>
	<ul>
		<li>2022/09/04: 判定結果を表示する際に、内部レート・平均順位率・補正値などのプロットを表示するようにしました。</li>
		<li><b>
				2022/09/03: 大規模な更新を行いました。
			</b>
			<ul>
				<li>直近のコンテストまでの順位データを反映しました。</li>
				<li>平均順位率を求める際、Rated なコンテストの結果のみを使用するように変更しました。</li>
				<li>平均順位率を求める際、特定の点数を取得したコンテストの結果が使用されていなかったバグを修正しました。</li>
				<li>上記すべてを反映した状態で、「内部レートによる補正値」を再計算しました。</li>
			</ul>
		</li>
		<li>2021/05/12: 「計算に使用したコンテスト数」として誤った値 (そのユーザの Rated コンテストの参加数) が表示されていた問題を修正しました。</li>
	</ul>
	</br>
	<p>サイト最終更新: 2022/09/04</p>
	<p>コンテスト成績データの最終更新: 2022/08/28 開催分</p>
	<p>公開: 2021/03/21</p>
	<p>作成者: <a href="https://twitter.com/Tomii9273">@Tomii9273</a></p>
</body>

</html>
