<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Q&A - AtCoder Type Checker</title>
</head>

<body>
    <h1>Q&A</h1>

    - Q1: 「内部レートによる補正値」はコンテストのたびに更新していますか？
    - A1: いいえ、2022/09/03 に計算した値を使用しています。
    - Q2: 「補正値算出に使用したユーザー (1878 人)」はどのように選んでいますか？
    - A2: 2022/09/03 時点で (誕生年が 5 の倍数または補正後のレーティングが 2400 以上) かつ Rated での参加数が 30 回以上のアクティブ参加者を選んでいます。
    - Q3: 平均順位率を求める際に、Rated 参加の結果のみを対象としているのはなぜですか？
    - A3: 例えば橙以上の参加者については、(特に 6 問以下の頃の) ABC では比較的短時間で全問正解していることが多く、この場合 Unrated 参加の結果を含めると普段 ABC
    に参加している人ほど早く解くタイプと判定されてしまう可能性があります。それを防ぐために、Rated 参加の結果のみを対象としています。
    - Q4: 順位率を平均する際に、同じ点数を取得した参加者の人数によって重みづけすると良いのではないでしょうか？
    - A4: その可能性はあります。今後調査・導入するかもしれません。
    - Q5: バグがあります。または、スコアやプロットが正常に表示されません。
    - A5: 申し訳ございません。<a href="https://twitter.com/Tomii9273">Twitter</a> まで連絡をいただけると嬉しいです。

    <a href="{{url_for('get')}}">戻る</a>
</body>

</html>
