<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
	<title>AtCoder Type Checker</title>
</head>

<body>
	<h1>AtCoder Type Checker</h1>
	<p><a href="https://atcoder.jp/">AtCoder</a>
		のコンテスト成績から、同じ (内部) レート帯の中で「多く解くタイプ」であるか「早く解くタイプ」であるかを判定します。</p>
	<p>({{ date_rank_data }} 開催分までのデータを使用)</p>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<input type="text" id="name" name="name" placeholder="AtCoder ID"> <input type="submit" value="OK">
		</div>
	</form>

	{{ message | safe}}
	
	<p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
			data-text="{{ message_for_tweet }}" data-hashtags="AtCoder_Type_Checker" data-show-count="false">Tweet</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</p>
	<p>{% autoescape false %}{{svgstr}}{% endautoescape %}</p>
	<h2>用語について</h2>
	<ul>
		<li><b>内部レート</b>: <a href="https://qiita.com/anqooqie/items/92005e337a0d2569bdbd">こちらの記事</a>における「レート (第二段階)」を指します。</li>
		<li><b>順位率</b>: ある参加者がコンテストで丁度 P 点を得て、丁度 P 点を得た中で R 位であり、丁度 P 点を得た人が合計 N 人だった場合の (R−1) / (N−1)
			の値です。<br>同じ内部レート帯の中で比較したとき、この値が小さいことが多いほど、(多く解くことと比べて) 早く解くことが得意なタイプであると考えられます。</li>
		<li><b>平均順位率</b>: P > 0 かつ N > 1 である場合についての順位率を、N を重みとして加重平均したものです (そのユーザーにとって Rated なコンテストのみを対象としています)。</li>
		<li><b>内部レートによる補正値</b>: 平均順位率は内部レートと負の相関があり、その相関を取り除くための補正値です。
			<ul>
				<li>「同程度の内部レートの人が平均的に取得している平均順位率」を表します。</li>
				<li>サンプリングした約 2000 ユーザーの平均順位率をもとに計算しています。</li>
			</ul>
		</li>
		<li><b>スコア</b>: ((平均順位率) − (内部レートによる補正値)) * 100 です。スコアに応じて、以下の文が表示されます。
			<table border="1">
				<tr align="right">
					<td>10 ～</td>
					<td>かなり、多く解くタイプ</td>
				</tr>
				<tr align="right">
					<td>5 ～ 10</td>
					<td>多く解くタイプ</td>
				</tr>
				<tr align="right">
					<td>1 ～ 5</td>
					<td>わずかに、多く解くタイプ</td>
				</tr>
				<tr align="right">
					<td>−1 ～ 1</td>
					<td>中間的なタイプ</td>
				</tr>
				<tr align="right">
					<td>−5 ～ −1</td>
					<td>わずかに、早く解くタイプ</td>
				</tr>
				<tr align="right">
					<td>−10 ～ −5</td>
					<td>早く解くタイプ</td>
				</tr>
				<tr align="right">
					<td>～ −10</td>
					<td>かなり、早く解くタイプ</td>
				</tr>
			</table>
		</li>
	</ul>
	<h2>補足</h2>
	<ul>
		<li>現在は、ページ上部記載の日付までに行われた、ナンバリングされている Rated な ABC・ARC・AGC のみを平均順位率の計算の対象としています。</li>
		<li>指定した ID の内部レートが 0 ～ 3200 の範囲外の場合、サンプル不足により結果の信頼度が低くなり、その旨が表示されます。</li>
		<li>判定結果はあくまで目安であり、その参加者の性質を保証するものではありません。また、タイプはコンテスト参加数が増えるにつれて大きく変わることがあります。</li>
		<li>毎日 15 時頃 (日本時間) に、直近のコンテストまでの順位データが反映されます。</li>
		<li><a href="{{url_for('qa')}}">Q&A はこちら</a></li>
	</ul>
	<details>
		<summary>更新履歴</summary>
		<h2>大きな更新</h2>
		<ul>
			<li>2023/05/01: 毎日 15 時頃 (日本時間) に、直近のコンテストまでの順位データの反映を自動で行うようにしました。</li>
			<li>2022/09/04: 判定結果を表示する際に、内部レート・平均順位率・補正値などのプロットを表示するようにしました。</li>
			<li><b>
					2022/09/03: 大規模な更新を行いました。
				</b>
				<ul>
					<li>直近のコンテストまでの順位データを反映しました。</li>
					<li>平均順位率を求める際、そのユーザーにとって Rated なコンテストの結果のみを使用するように変更しました。</li>
					<li>平均順位率を求める際、特定の点数を取得したコンテストの結果が使用されていなかったバグを修正しました。</li>
					<li>上記すべてを反映した状態で、「内部レートによる補正値」を再計算しました。</li>
				</ul>
			</li>
			<li>2021/05/12: 「計算に使用したコンテスト数」として誤った値 (そのユーザの Rated コンテストの参加数) が表示されていた問題を修正しました。</li>
		</ul>
	</details>
	</br>
	<p>サイト最終更新: {{ date_site }}</p>
	<p>順位データ: {{ date_rank_data }} 開催分までのデータを使用</p>
	<p>内部レートによる補正値の最終更新: {{ date_hoseichi }}</p>
	<p>初回公開: 2021/03/21</p>
	<p>作成者: <a href="https://twitter.com/Tomii9273">@Tomii9273</a></p>
</body>

</html>
